body {
    margin: 0;
    padding: 0;
    background-color: #aed6f1;
  }
  
  h1 {
    font-family: 'Scientific Calculator LCD', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 80px;
    font-size: 50px;
  }
  
  .container {
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    max-width: 500px;
    width: 80%;
    padding: 5px;
    padding-left: 15px;
    box-shadow: 10px 10px 20px black;
    border-radius: 6px;
  }
  
  .display {
    text-align: right;
    height: 60px;
    background-color: silver;
    margin: 7px 32px 20px 2px;
    border-radius: 6px;
    font-size: 3rem;
    padding: 0 10px;
  }
  
  .button {
    position: relative;
    height: 70px;
    width: 23%;
    font-size: 30px;
    padding: 10px;
    border-radius: 6px;
    margin: 2px;
  }
  
  .buttons {
    padding: 5px;
    padding-bottom: 5px;
    line-height: 4.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .button:hover {
    cursor: pointer;
    background-color: rgb(146, 213, 235);
  }
  
  .sign {
    background-color: lightcoral;
  }
  
  .clear {
    background-color: yellow;
  }
  